# --- Global Settings ---
set timeout=10
set default=0

insmod part_gpt
insmod ext2
insmod fat

search --no-floppy --part-uuid --set=root {your uuid partition}

# --- Menu Entries ---

menuentry "Arch Linux [Bootstrap Launcher]" {
    linux /boot/vmlinuz-7.0 root=PARTUUID={your uuid partition} rw init=/bin/bootstrap --archlinux
}

menuentry "Ubuntu [Bootstrap Launcher]" {
    linux /boot/vmlinuz-7.0 root=PARTUUID={your uuid partition} rw init=/bin/bootstrap --ubuntu
}

menuentry "Alpine [Bootstrap Launcher]" {
    linux /boot/vmlinuz-7.0 root=PARTUUID={your uuid partition} rw init=/bin/bootstrap --alpine
}

menuentry "Fedora [Bootstrap Launcher]" {
    linux /boot/vmlinuz-7.0 root=PARTUUID={your uuid partition}  rw init=/bin/bootstrap --fedora
}

# --- Recovery/Maintenance ---
menuentry "System Shell (No Distro)" {
    linux /boot/vmlinuz-7.0 root=PARTUUID={your uuid partition} rw init=/bin/sh
}
